@font-face {
  font-family: "Gotham";
  src: url("../src/fonts/GothamLight.ttf");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #e0d2d2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.box-with-text {
  position: absolute;
  background-color: #fff;
  border: 1px solid #000;
  padding: 5px;
}

.about-contact-nav {
  position: absolute;
  top: 0;
  height: 5em;
  width: 100%;
}

.about-contact-nav-title {
  color: rgb(233, 16, 16);
  /* bottom: 0.2em; */
  width: 100%;
  text-align: center;
  font-family: "Atma", cursive;
  font-family: "Cabin Sketch", cursive;
  font-family: "Cousine", monospace;
  font-family: "Jost", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.enter-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  /* animation: fade 3s infinite; */
  /* text-align: center; */
  /* align-content: center; */
}

.contact-inputs-wrapper {
  height: 7em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2em;
  /* width: 90%; */
}

.contact-input {
  height: 2em;
  border-radius: 5px;
}

.contact-nav-phones-wrapper {
  display: flex;
  align-items: center;
}

.landing-screen-nav-btn {
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 8em;
  width: 5em;
  height: 5em;
  text-align: center;
  display: flex;
  align-items: center;
  right: 10em;
  -webkit-transition: all 5.5s ease;
  -moz-transition: all 5.5s ease;
  -o-transition: all 5.5s ease;
  transition: all 5.5s ease;
  transition: border-color 0.5s;
}

.border-transition:hover {
  border-image: yellow;
  border-image-slice: 1;
  animation: border-transition-animation 3s linear forwards;
  border-color: rgb(
    221,
    221,
    221
  ); /* Add this line to keep the new color while hovered */
}

@keyframes border-transition-animation {
  0% {
    border-image-slice: 1;
  }
  100% {
    border-image-slice: 100%;
  }
}

.landing-screen-nav-btn:hover {
  cursor: pointer;
  border-image-slice: 1;
  animation: border-transition-animation 3s linear forwards;
  border-color: #a73838;
}
@keyframes landing-screen-nav-btn {
  0% {
    border-image-slice: 1;
  }
  100% {
    border-image-slice: 100%;
  }
}

.landing-screen-nav-open {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background: #e0d2d2;
  /* background-image: linear-gradient(
    to right,
    black,
    rgb(113, 29, 29),
    rgb(224, 223, 223)
  ); */
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes landing-screen-nav-open {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* .enter-btn:hover {
  opacity: 1;
  cursor: pointer;
} */

.hover:hover {
  cursor: pointer;
  color: rgb(207, 210, 164);
}

.landing-screen {
  height: 100vh;
  width: 100vw;
  border: 2px solid black;
  background: rgb(0, 0, 0);
}

.landing-screen-wrapper {
  height: 100vh;
  width: 100vw;
  background: lightblue url("/public/static/images/landing_bg.jpg") no-repeat
    center;
  display: flex;
  flex-direction: column-reverse;
}

.overlay-black {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  /* background-color: rgb(53, 53, 53); */
  /* background-color: rgba(0, 0, 0, 0.429); */
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  /* background: lightblue url("/img/background-2.jpg") no-repeat center; */
}

.scene-bg-image {
  background-image: url("/public/wide_Backgreound.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-size: contain; */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.line {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  margin-top: 200px;
}

.nav-display-btn {
  background-color: #535bf2;
  width: 100px;
  padding: 0px;
  height: 40px;
  color: rgb(224, 209, 209);
  border: none;
  outline: none;
}

.nav-display-btn:hover {
  color: #535bf2;
  background-color: rgb(224, 209, 209);
}

.nav-display-btn:focus {
  outline: none;
}

.x-nav-btn:focus {
  outline: none;
}

.navSelected {
  color: rgb(207, 210, 164);
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}

input#menu {
  display: none;
}

.icon {
  /* background: #fff; */
  cursor: pointer;
  /* display: block; */
  /* height: 24px; */
  /* padding: 16px; */
  /* width: 24px; */
}

.pointer {
  cursor: pointer;
}

label.icon {
  position: fixed;
  z-index: 200;
}

.icon .menu,
.icon .menu::before,
.icon .menu::after {
  background: #1172b3;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
  width: 50px;
}

.icon:hover .menu,
.icon:hover .menu::before,
.icon:hover .menu::after {
  background: #47b74b;
}

.icon .menu {
  left: 20px;
  top: 27px;
}

.icon .menu::before {
  top: -8px;
}

.icon .menu::after {
  top: 8px;
}

#menu:checked + .icon .menu {
  background: transparent;
}

#menu:checked + .icon .menu::before {
  transform: rotate(45deg);
}

#menu:checked + .icon .menu::after {
  transform: rotate(-45deg);
}

#menu:checked + .icon .menu::before,
#menu:checked + .icon .menu::after {
  top: 0;
  transition: top ease 0.3s, transform ease 0.3s 0.3s;
}

nav {
  /* background: #fdf6f6; */
  /* background: rgba(0, 0, 0, 0.692); */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* position: absolute;
  right: 4em;
  top: 3em; */

  transition: width ease 1.6s, height ease 1.2s;
  height: 45em;

  /* width: 45em; */
  border-radius: 5px;

  overflow: hidden;
  text-align: flex-start;
  /* border-right: 1px solid rgb(0, 0, 0, 0.5); */
}

/* nav {
  background: rgba(0, 0, 0, 0.692);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45em;
  position: absolute;
  right: 4em;
  top: 3em;
  transition: width ease 1.6s, height ease 1.2s;

  width: 45em;
  border-radius: 5px;

  overflow: hidden;
  text-align: flex-start;
} */

.nav-explorer-btn-container {
  display: flex;
  width: 32em;
  z-index: 1;
  padding: 2px;
}

.nav-btns-wrapper {
  padding: 3px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav-expl-btn {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
  width: 80%;
  /* --clr: #39ff14; */
}

.nav-expl-btn-green {
  --clr: #39ff14;
}

.nav-expl-btn-red {
  --clr: #ad2f2f;
}

.nav-expl-btn-yellow {
  --clr: #beb433;
}

.nav-expl-btn-orange {
  --clr: #ff9d14;
}

.nav-expl-btn:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--clr);
  color: var(--clr);
  /* box-shadow: 0 0 35px var(--clr); */
  animation: box 3s infinite;
}
.nav-expl-btn::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}
.nav-expl-btn .nav-expl-span {
  position: relative;
  z-index: 1;
  font-family: Gotham;
}
.nav-expl-btn .nav-expl-i {
  position: absolute;
  inset: 0;
  display: block;
}

.nav-expl-btn .nav-expl-i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}
.nav-expl-btn .nav-expl-i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

.nav-expl-btn:hover .nav-expl-i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}

.new-about-contact-wrapper {
  width: 100vw;
  height: 8vh;
  background: rgb(42, 1, 1);
  opacity: 0.7;
  color: white;
  border-radius: 5px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  opacity: 0.3;
}
.new-about-contact-wrapper:hover {
  opacity: 0.1;
  cursor: pointer;
}

.new-nav-bottom-container {
  border: 1px solid black;
  display: flex;
  width: 60%;
  height: 60%;

  justify-content: space-evenly;
}

.new-nav-bottom-btns {
  border: 2px solid white;
  width: 20%;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.new-nav-bottom-btns:hover {
  opacity: 1;
  cursor: pointer;
}

/* nav:hover {
  background: rgb(224, 210, 210, 1);
} */

.open-info-nav {
  width: 40em;
  /* background: rgba(224, 210, 210, 1); */
  background: linear-gradient(to left, #2d5237 1%, rgb(240, 233, 233) 26%);
  opacity: 0.9;
  border: none;
  /* background-image: url("../img/in3dlogo.png");
  background-position: center;
  background-repeat: no-repeat; */
  /* border-left: 42em solid rgb(0, 0, 0, 0.4);
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  z-index: -1; */
}

.open-info-nav-extension {
  width: 90%;
  height: 96%;
  /* border: 1px solid rgb(21, 21, 21, 0.6); */
  box-shadow: -3px 6px 34px 4px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: -3px 6px 34px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: -3px 6px 34px 4px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 3px;
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: -1;
  opacity: 0;
  animation-name: navAnimation;
  animation-duration: 0.8s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes navAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-full-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
  background-image: url("/public/static/images/in3dlogo.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  /* overflow: scroll; */
  opacity: 1;
  z-index: -100;
}

.nav-contact-cancel-icon {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.thing {
  position: absolute;
  right: 7em;
}

.nav-contact-cancel-icon:hover {
  color: rgb(233, 244, 244, 0.6);
  cursor: pointer;
}

.nav2 {
  width: "100vw";
  background: "black";
}

#menu:checked ~ nav {
  width: 200px;
}

.bottom-nav-list {
  width: 8em;
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.bottom-nav-list-option {
  font-family: "Atma", cursive;
  font-family: "Cabin Sketch", cursive;
  font-family: "Cousine", monospace;
  font-family: "Jost", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  color: rgb(255, 255, 255, 0.5);
}

.bottom-nav-list-option:hover {
  cursor: pointer;
  color: rgb(255, 255, 255, 0.8);
  font-size: 1.3em;
}

.nav-container {
  opacity: 0.8;
  width: 50%;
  /* width: "100%"; */
}
/* .nav-container:hover {
  opacity: 0.8;
} */

.nav-open-lines-bg {
  position: fixed;
  height: 26.5em;
  width: 32em;
  background-image: url("../img/lines_texture.png");
  object-fit: cover;
  opacity: 0.1;
  z-index: -1;
}

.nav-container-open {
  position: absolute;
  background-color: #000;
  top: 50%;
  transform: translate(5%, -50%);
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 90%;
  box-shadow: 4px 6px 15px 2px rgba(128, 0, 0, 0.84);
}

.nav-item {
  font-size: 2em;
  font-family: "Atma", cursive;
  font-family: "Cabin Sketch", cursive;
  /* font-family: "Cousine", monospace; */
  /* font-family: "Jost", sas */
  /* font-family: "Roboto", sans-serif; */
  color: rgb(233, 244, 244);
  overflow: hidden;
  background: linear-gradient(
    to right,
    #a73838,
    rgb(191, 22, 22) 50%,
    rgb(240, 233, 233) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
  &:hover {
    background-position: 0 100%;
  }
}

.outer-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outer-li {
  margin-top: 0.5em;
  cursor: pointer;
  display: block;
  line-height: 60px;
  padding-left: 16px;
  white-space: nowrap;
  font-size: 20px;
  color: #c3d6e2;
  width: 90%;
}

.inner-ul {
  width: 60%;
}

.inner-li {
  color: #bfd2bc;
  font-size: 0.8em;
  line-height: 2;
  list-style-type: none;
}

nav i {
  /* color: #9fb1bd; */
  margin-right: 24px;
  vertical-align: text-bottom;
}

.nav-wrapper {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20%;
}

.nav-wrapper-open {
  /* height: 100%;
  width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  animation-name: cssAnimation;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.visibility-hidden {
  visibility: hidden;
}

.nav-open-inner-nav-wrapper {
  display: flex;
  flex-direction: row-reverse;
  padding: 3px;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-open-options {
  flex: 1;
  display: flex;
  animation: fadeIn 2.2s;
}

.nav-open-list {
  flex: 1;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nav-open-header {
  color: white;
  font-size: 2.2em;
  font-family: "Atma", cursive;
  font-family: "Cabin Sketch", cursive;
  font-family: "Cousine", monospace;
  font-family: "Jost", sans-serif;
  font-family: "Roboto", sans-serif;
}

.pos-fixed {
  position: fixed !important;
}

S nav li:hover {
  color: rgb(29, 116, 48);
}

.nav-icon-open {
  /* margin-bottom: 100px !important; */
  /* position: absolute; */
  top: 0;
  /* right: -500; */
  /* height: 200px; */
}

.nav-open-category-wrapper {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-open-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  /* background-image: url("../img/in3dlogo.png"); */
  opacity: 0.9;
  padding: 5px;
}

/* //btn animation test */

div[className*="box"] {
  height: 33.33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  position: absolute;
  top: 3em;
  left: 3em;
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 200px;
  cursor: pointer;
}

.box-1 {
  background-color: #ff6766;
}
.box-2 {
  background-color: #3c3c3c;
}
.box-3 {
  background-color: #66a182;
}
.btn-three {
  color: #ff5a5a;
  transition: all 0.5s;
  position: relative;
  font-size: 1.6em;
}
.btn-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(12, 9, 9, 0.168);
  border-radius: 4px;
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
  border-radius: 4px;
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.black-background {
  background-color: black;
}

/* testing div opacity animation */

@keyframes fade {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
}

/* Apply the animation to the div */
.animated-div {
  animation: fade 1s;
}

/* Additional styling for the div */
.animated-div {
  width: 200px;
  height: 200px;
}

/* testing landing screen letters */

.animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 9em;
}

.animation-letter {
  font-size: 60px;
  display: inline-block;
  opacity: 1;
  transform: translateY(0px);
  animation-name: letterAnimation;
  animation-duration: 1s;
  animation-delay: calc(var(--index) * 0.2s);
  animation-fill-mode: forwards;
}

@keyframes letterAnimation {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animation-complete {
  .animation-letter {
    animation: none;
  }
}

/* potential close button */

.outer {
  position: relative;
  margin: auto;
  width: 70px;
  /* margin-top: 20px;
  margin-left: 20px; */
  cursor: pointer;
  transition: all 0.3s ease-in;
  opacity: 0;
  animation-name: navBtn;
  animation-duration: 0.8s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes navBtn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.inner {
  width: inherit;
  text-align: center;
  transition: all 0.3s ease-in;
  font-size: 1.5em;
  opacity: 1;
}

label {
  font-size: 0.8em;
  line-height: 4em;
  text-transform: uppercase;
  color: #a73838;
  transition: all 0.3s ease-in;
  opacity: 1;
  cursor: pointer;
}

.inner:before,
.inner:after {
  position: absolute;
  content: "";
  height: 1px;
  width: inherit;
  background: #ffc107;
  left: 0;
  transition: all 0.3s ease-in;
}

.inner:before {
  top: 50%;
  left: 70%;
  transform: rotate(90deg);
}

.inner:after {
  bottom: 50%;
  left: -70%;
  transform: rotate(90deg);
}

.outer:hover {
  opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  /* transform: rotate(1); */
  left: 5%;
  top: 10%;
}

.outer:hover .inner:after {
  /* transform: rotate(1deg); */
  left: 5%;
  bottom: 10%;
}

/* Layout Styling */

#container {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0 150px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Button Styles */

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 1px solid #871c1c;
  margin: 20px 20px 20px 20px;
  color: #bfc0c0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.1em;
  font-family: Gotham;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
}

/* Sixth Button */

#button-6 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-6 a {
  position: relative;
  transition: all 0.45s ease-Out;
}

#spin {
  width: 0;
  height: 0;
  opacity: 0;
  left: 70px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  transition: all 0.5s ease-Out;
}

#button-6:hover #spin {
  width: 200%;
  height: 500%;
  opacity: 1;
  left: -70px;
  top: -70px;
  background: #bfc0c0;
  transform: rotate(80deg);
}

#button-6:hover a {
  color: #2d3142;
}
